::-moz-selection {
  /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection {
  color: red;
  background: yellow;
}

:root {
  --blue: 0, 0, 255;
  --red: 255, 0, 0;
}

h1 {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  color: transparent;
  font-size: calc(1rem + 3vw);
  -webkit-text-fill-color: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 1px 1px 1px rgba(184, 217, 176, 0.1);
  text-shadow: 1px 1px 1px white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  height: 100vh;
  background-image: radial-gradient(
    circle at 10px 15px,
    rgb(70, 70, 70) 1px,
    transparent 0
  );
  background-size: 25px 25px;
  box-shadow: inset -2px 0px 0px 0px white;
}
