.about--icons {
  position: absolute;
  z-index: -10000;
  opacity: 80%;
  color: blue;
  font-size: 20vw;
}

@keyframes floatcode {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.fa-code {
  margin-top: 15vh;
  margin-left: 13vw;
  position: absolute;
  transform: rotate(-15deg);
  animation: floatcode 4s ease-in-out infinite;
  font-size: 14rem;
}

@keyframes floatcalc {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.fa-calculator {
  margin-top: 70vh;
  position: absolute;
  margin-left: 60vw;
  transform: rotate(25deg);
  animation: floatcalc 9s ease-in-out infinite;
  font-size: 15rem;
}
@keyframes effect3d {
  0% {
  }
  50% {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
      0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15);
  }
  100% {
  }
}

.fa-square-root-variable {
  margin-top: 5vh;
  margin-left: 65vw;
  position: absolute;
  transform: rotate(-15deg);
  animation: effect3d 4s ease-in-out infinite;
  font-size: 18rem;
}

@keyframes floatpi {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.fa-pi {
  position: absolute;
  margin-left: 10vw;
  margin-top: 60vh;
  transform: rotate(-60deg);
  animation: floatpi 8s ease-in-out infinite;
  font-size: 12rem;
}
