/*
font-family: 'ABeeZee', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: "Rubik Mono One", sans-serif;*/

/* general styling */
.cross-container {
  height: 100px;
  width: 100px;
  margin-left: 34rem;
  z-index: 1000000;
  display: flex;
}

/* subfolders that get added into folders */

.folder_section--added-subfolders-container {
  position: absolute;
  z-index: 1000;
  visibility: hidden;
  min-height: 65%;
  max-height: 75%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 90vw;
  overflow: auto;
  margin-top: 8vh;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20rem;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.folder_section--added-subfolders {
  display: flex;
  flex-direction: column;
}

.subfolder-title {
  font-family: "Rubik Mono One", sans-serif;
  margin-top: 2rem;
  font-size: 1.3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
}

.subfolder-span-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: center;
  align-items: center;
}

.subfolder-span {
  font-family: "Abel", sans-serif;
  font-size: 1.2rem;
  padding: 1.2rem;
}

/* button styling */

.subfolder-button-container {
  margin-top: 1rem;
}

.subfolder-button {
  background: white;
  width: 6rem;
  height: 3rem;
  cursor: pointer;
  border: 1px solid black;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in;
}

.subfolder-button:hover {
  box-shadow: 2px 2px 1px black;
}

.subfolder-button-edit {
  background-color: rgba(121, 159, 217, 0.8);
}

.subfolder-button-edit:hover {
  background-color: rgba(121, 159, 217, 1);
}

.subfolder-button-delete {
  background-color: rgba(245, 7, 7, 0.8);
}

.subfolder-button-delete:hover {
  background-color: rgba(245, 7, 7, 1);
}

.subfolder-button-learn {
  background-color: rgba(149, 195, 144, 0.8);
}

.subfolder-button-learn:hover {
  background-color: rgba(149, 195, 144, 1);
}

/* index card type choice field */

.container {
  visibility: visible;
  height: 40rem;
  width: 40rem;
  border: 1px solid black;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  position: absolute;
  z-index: 10000;
  overflow: hidden;
}

.box {
  height: 40rem;
  width: 40rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 10;
  background-color: #d0ebce;
}

.button-container {
  position: absolute;
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  z-index: 100;
  margin-top: 25rem;
  transition: margin-top 0.1s ease-in-out;
}

.button {
  height: 5rem;
  width: 10rem;
  border: 1px solid black;
  transition: box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out,
    font-size 0.1s ease-in-out, height 0.1s ease-in-out, width 0.1s ease-in-out;
  background-color: transparent;
  font-size: 1.1rem;
  font-family: "Abel", sans-serif;

  background-color: rgba(121, 159, 217, 0.8);
}

.button-container-lower {
  margin-top: 35rem;
}

.button-lower-clicked {
  font-size: 0.9rem;
  height: 2rem;
  width: 4rem;
  background-color: white;
}

.button-lower-clicked:hover {
  background-color: rgb(255, 223, 223) !important;
}

.button:hover {
  box-shadow: 3px 3px 0.5px black;
  background-color: rgba(121, 159, 217, 1);
  cursor: crosshair;
}

.left {
  margin-left: 100%;
  transform: translateX(0%);
  transition: margin-left 0.2s ease-in-out;
}

.right {
  margin-right: 100%;
  transform: translateX(0%);
  transition: margin-right 0.2s ease-in-out;
}

.top {
  margin-top: 100%;
  transition: margin-top 0.2s ease-in-out;
}

.text {
  position: absolute;
  font-size: 2rem;
  transition: all 0.4s ease-in-out;
  z-index: 8;
  font-family: "Rubik Mono One", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 30%;
  width: 90%;
  margin-top: 10rem;
  color: white;
  text-align: center;
}

.text-container {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #d0ebce;
  transition: all 0.2s ease-in-out;
}

.margin-left-100 {
  margin-left: 0%;
  opacity: 1;
}

.margin-right-100 {
  margin-right: 0%;
  opacity: 1;
}

.margin-top-100 {
  margin-top: 0%;
  opacity: 1;
}

.text-margin-left-minus-1000 {
  margin-left: -600px;
}

.text-margin-left-1200 {
  margin-left: 600px;
}

.text-margin-top-minus-10rem {
  margin-top: 20rem;
}

.text-margin-top-10rem {
  margin-top: -20rem;
}

/* styling single answer form */

.form-label {
  font-family: "Rubik Mono One", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  font-size: 1.5rem;
}
.single-word-question-container,
.single-word-answer-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
}

.single-word-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Abel", sans-serif;
  gap: 5rem;
}

.single-word-question-fieid,
.single-word-answer-field {
  height: 4rem;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
}

.add-indexcard-button {
  height: 3rem;
  width: 6rem;
  font-size: 0.9rem;
  border: 1px solid black;
  transition: box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out,
    font-size 0.1s ease-in-out, height 0.1s ease-in-out, width 0.1s ease-in-out;
  background-color: transparent;

  font-family: "Abel", sans-serif;
  background-color: rgba(121, 159, 217, 0.8);
}

.add-indexcard-button:hover {
  box-shadow: 3px 3px 0.5px black;
  background-color: rgba(121, 159, 217, 1);
  cursor: crosshair;
  z-index: 10000;
}

/* styling multiple choice answer form */

.multiple-choice-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.multiple-choice-question-container {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
  gap: 1.2rem;
}

.multiple-choice-answer-container {
  height: 60%;
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.multiple-choice-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.multiple-choice-list-object {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.multiple-choice-list-texfield {
  width: 60%;
  font-family: sans-serif;
  padding-left: 10px;
  padding-top: 4px;
  font-size: 0.8rem;
}

.multiple-choice-list-p {
  font-family: "Abel", sans-serif;
  font-size: 1.1rem;
}

.multiple-choice-add-button {
  height: 3rem;
  width: 6rem;
  font-size: 0.9rem;
}
