/* subfolders that get added into folders */

.folder_section--added-subfolders-container {
  position: absolute;
  z-index: 1000;
  visibility: visible;
  min-height: 65%;
  max-height: 75%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 90vw;
  overflow: auto;
  margin-top: 28vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20rem;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.folder_section--added-subfolders {
  display: flex;
  background-image: radial-gradient(red 10%, transparent 10%),
    radial-gradient(#fafafa 20%, transparent 20%);
  background-color: white;
  background-position: 0 0, 50px 50px;
  background-size: 8px 8px;
  flex-direction: column;
}

.subfolder-button {
  background: white;
  width: 6rem;
  height: 3rem;
  cursor: pointer;
}

.subfolder-title {
  font-family: "Rubik Mono One", sans-serif;
  margin-top: 2rem;
}

.subfolder-span-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  height: 8rem;
  justify-content: center;
  align-items: center;
}

.subfolder-span {
  font-family: "Abel", sans-serif;
  margin-top: 2rem;
  font-size: 1.2rem;
}
