/* subfolders that get added into folders */

.folder_section--added-subfolders-container {
  position: absolute;
  z-index: 1000;
  visibility: hidden;
  min-height: 65%;
  max-height: 75%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 90vw;
  overflow: auto;
  margin-top: 8vh;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20rem;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.folder_section--added-subfolders {
  display: flex;
  flex-direction: column;
}

.subfolder-title {
  font-family: "Rubik Mono One", sans-serif;
  margin-top: 2rem;
  font-size: 1.3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
}

.subfolder-span-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: center;
  align-items: center;
}

.subfolder-span {
  font-family: "Abel", sans-serif;
  font-size: 1.2rem;
  padding: 1.2rem;
}

/* button styling */

.subfolder-button-container {
  margin-top: 1rem;
}

.subfolder-button {
  background: white;
  width: 6rem;
  height: 3rem;
  cursor: pointer;
  border: 1px solid black;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in;
}

.subfolder-button:hover {
  box-shadow: 2px 2px 1px black;
}

.subfolder-button-edit {
  background-color: rgba(121, 159, 217, 0.8);
}

.subfolder-button-edit:hover {
  background-color: rgba(121, 159, 217, 1);
}

.subfolder-button-delete {
  background-color: rgba(245, 7, 7, 0.8);
}

.subfolder-button-delete:hover {
  background-color: rgba(245, 7, 7, 1);
}

.subfolder-button-learn {
  background-color: rgba(149, 195, 144, 0.8);
}

.subfolder-button-learn:hover {
  background-color: rgba(149, 195, 144, 1);
}
