.folder_section--added-subfolders {
  position: absolute;
  z-index: 1000;
  visibility: visible;
  min-height: 65%;
  max-height: 100%;
  width: 80vw;
  overflow: auto;
  margin-left: 10vw;
  margin-top: 27vh;
  border-radius: 10px;
  display: grid;
  gap: 18rem;
  grid-template-columns: 1fr 1fr;
  border: 1px solid white;
  padding-left: 3rem;
  padding-right: 12rem;
}
