/*
font-family: 'ABeeZee', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: "Rubik Mono One", sans-serif;*/

/*general styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-repeat: no-repeat;

  overflow: hidden;
}

.body-overlay {
  position: absolute;
  background-image: radial-gradient(
    circle at 15px 15px,
    rgb(70, 70, 70) 1.2px,
    transparent 0
  );
  background-size: 25px 25px;
  box-shadow: inset -2px 0px 0px 15px rgb(255 255 255);
  height: 100vh;
  width: 100%;
  margin: 0;
  z-index: -1000;
}

.landing__page {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 1.2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* landing page title animation*/

.landing__page--title {
  position: relative;
  animation: slide-in 1s ease-in-out forwards;
  animation-delay: 0.4s;
  color: rgb(75, 155, 155);
  top: -1000px;
}

@keyframes slide-in {
  0% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes slide-in-bottom-border {
  0% {
    margin-top: -100px;
    opacity: 0;
  }
  100% {
    margin-top: 5px;
    opacity: 1;
  }
}

.title_bottom_border {
  height: 15px;
  border: 2px solid black;
  width: 100%;
  background: rgb(75, 155, 155);
  animation: slide-in-bottom-border 1s ease-in-out forwards;
}

.landing__page--title--section {
  height: 8rem;
}

/* landing page nav bar styling */

.landing__page--nav--bar {
  background: transparent;
  width: 15%;
  position: absolute;
  z-index: 100000;
  height: 100%;
  display: flex;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  left: -250px;
  transition: left 01s ease-in-out;
}

.landing__page--nav--bar--list {
  display: flex;
  background: transparent;
  flex-direction: column;
  gap: 8vh;
  width: 100%;
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: skewY(2deg);
}

.landing__page--nav--bar--listobject {
  display: flex;
  list-style-type: none;
  width: 100%;
  text-align: center;
  height: 2vh;
}

.landing__page--nav--bar--link {
  text-decoration: none;
  -webkit-text-stroke: black 1px;
  color: rgba(123, 120, 230);
  font-family: "Rubik Mono One", sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  margin: auto;
  transition: font-size 0.4s ease-in-out, border-image 2s ease-in;
  padding: 5px;
  transition: font-size 0.4s ease-in-out, 0.4s ease-in-out;
  opacity: 1;
  transform: skewY(-2deg);
}

.landing__page--nav--bar--link:hover,
.landing__page--nav--bar--link:active {
  font-size: 1.4em;
  transform: skewY(10deg);
  text-shadow: 1px 1px 0.5px white;
}

/* hamburger nav bar styling */

.header__main-nav--hamburger {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 2rem;
  left: 3rem;
  cursor: pointer;
  opacity: 0.8;
  padding: 0.7rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 0.3rem;
  background: black;
  border-radius: 0.2rem;
  transition: all 0.4s ease-in-out;
}

.clicked {
  left: 0px;
}

.clicked--bg {
  opacity: 0.8;
}

.clicked .line-1 {
  transform: rotateZ(-45deg) translate(-0.4rem, 0.3rem);
  background: red;
}

.clicked .line-2 {
  opacity: 0;
}

.clicked .line-3 {
  transform: rotateZ(45deg) translate(-0.4rem, -0.3rem);
  background: red;
}

.fade {
  opacity: 1;
}

/*landing page text styles*/

.landing__page--intro--text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
  background: rgba(123, 120, 230, 0.8);
  background-repeat: repeat;
  background-position: left center;
  background-size: 18px 18px;
  width: 60%;
  height: 10rem;
}

.landing__page--intro--text p {
  font-size: calc(1em + 0.5vh);
  width: 80%;
  text-align: center;
}

.text-coloring {
  color: rgba(123, 120, 230, 0.8);
  background: white;
}

/* button styling */

.landing__page--button--section {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 10vh;
  align-items: center;
  justify-content: center;
}

.landing__page--button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abel", sans-serif;
  max-width: 5rem;
  min-width: 10vw;
  height: 6vh;
  border-radius: 5px;
  font-size: 1.2rem;
  border: 4px solid black;
}

.landing__page--login--button {
  background-color: #cfebcc;
  border-radius: 0;
  border: 4px solid #79a475;
  transition: all 0.2s ease-in-out;
  letter-spacing: 8px;
}

.landing__page--signup--button {
  background-color: rgba(121, 159, 217, 0.6);
  border: 4px solid rgba(89, 113, 149, 0.6);
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  letter-spacing: 8px;
}

.landing__page--login--button:hover {
  opacity: 100%;
  cursor: pointer;
  box-shadow: 6px 10px 1px black;
  letter-spacing: 11px;
}

.landing__page--signup--button:hover {
  background-color: rgba(121, 159, 217, 1);
  cursor: pointer;
  box-shadow: 6px 10px 1px black;
  opacity: 1;
  letter-spacing: 11px;
}

.landing__page--button--icons {
  padding-top: 1rem;
  display: flex;
  font-size: 2.5em;
  gap: 7vw;
  margin-top: 4vh;
}

.fa-facebook {
  background: transparent;
}

.fa-google {
  background: transparent;
}

.brand-logo:hover {
  cursor: crosshair;
}

.yellow-background-container {
  position: absolute;
  display: flex;
  font-size: 2.5em;
  gap: 5.8vw;
  z-index: -1000;
}
.yellow-background {
  height: 4rem;
  width: 4rem;
  background-color: yellow;
  border-radius: 50%;
  filter: blur(10px);
  opacity: 0%;
  transition: opacity 0.2s ease-in-out;
}

.yellow-background-opacity-50 {
  opacity: 50%;
}

.background-github {
  background: -webkit-linear-gradient(black, black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-google {
  background: -webkit-linear-gradient(
    #4285f4,
    #4285f4 25%,
    #34a853 25%,
    #34a853 50%,
    #fbbc05 50%,
    #fbbc05 75%,
    #ea4335 75%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-facebook {
  color: #3b5998;
}
/* login section */

.landing__page--login--section {
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #3885ad;
  border: 4px solid black;
  height: 80vh;
  width: 70vw;
  opacity: 1;
  margin-top: auto;
  margin-left: auto;
  box-shadow: 8px 8px 2px black;
}

.landing__page--login--section--visible {
  opacity: 1;
  visibility: visible;
}

.landing__page--login--section h2 {
  font-family: "Press Start 2P", cursive;
  color: white;
  text-align: center;
  width: 40vw;
  line-height: 2em;
  margin-top: -5vh;
  margin-bottom: 5vh;
  font-size: 1.2rem;
}

.landing__page--login--section label {
  font-size: 0.9rem;
}

.landing__page--login--section input {
  border: 2px solid black;
  padding-left: 10px;
}

.login_section--form {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 20%;

  justify-content: space-evenly;
}

.login_section--form button {
  width: 60%;
}

.show__password--section label {
  font-size: 0.7rem;
}

.logged__in--section label {
  font-size: 0.7rem;
}

#username {
  font-family: "Abel", sans-serif;
  background-color: white;
  border: white;
  height: 4vh;
  padding-left: 10px;
  border: 2px solid black;
}

#password {
  font-family: "Abel", sans-serif;
  background-color: white;
  border: white;
  height: 4vh;
  padding-left: 15px;
  border: 2px solid black;
}

.log__in--button {
  background-color: #cfebcc;
  border: 4px solid #79a475;
  height: 5vh;
  font-family: "Abel", sans-serif;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  letter-spacing: 8px;
  transition: letter-spacing 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.login__anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
  color: white;
}

.username__forgotten {
  text-decoration: none;
  font-size: 0.7rem;
  height: 2rem;
  margin-top: 2vh;
  color: rgb(244, 242, 242);
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  text-align: center;
  padding: 0px auto;
}

.username__forgotten:hover {
  font-size: 0.8rem;
  color: yellow;
}

.cross {
  width: 25px;
  height: 25px;
  margin-left: 60vw;
  position: relative;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  cursor: pointer;
  margin-right: 2vw;
  margin-top: 2vh;
}

.cross:before,
.cross:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: white;
}

.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

/* sign up section */

.landing__page--signup--section {
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #cfebcc;
  border: 4px solid black;
  height: 80vh;
  width: 70vw;
  margin-top: auto;
  margin-left: auto;
  box-shadow: 8px 8px 2px black;
}

.landing__page--signup--section--visible {
  opacity: 1;
  visibility: visible;
}

.landing__page--signup--section h2 {
  font-family: "Press Start 2P", cursive;
  color: white;
  text-align: center;
  width: 40vw;
  line-height: 1.6em;
  font-size: 1.4rem;
  margin-top: -40px;
}

.sign__up--form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
  width: 100%;
  height: 60%;
}

.sign__up--first-section,
.sign__up--second-section {
  display: flex;
  flex-direction: column;
  gap: 8vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sign__up--first-section section,
.sign__up--second-section section {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.sign__up--first-section input,
.sign__up--second-section input {
  font-family: "Abel", sans-serif;
  background-color: white;
  border: 2px solid black;
  height: 5vh;
  width: 20vw;
  padding-left: 20px;
}

.sign__up--button {
  width: 10vw;
  cursor: pointer;
  height: 2.5rem;
  background-color: rgba(121, 159, 217, 0.6);
  font-family: "Abel", sans-serif;
  font-size: 1.2rem;
  border: 2px solid rgb(81, 115, 167);
  transition: all 0.2s ease-in-out;
}

.log__in--button:hover,
.log__in--button:active {
  background-color: #cfebcc;
  box-shadow: 6px 10px 1px black;
  letter-spacing: 11px;
}

.sign__up--button:hover,
.sign__up--button:active {
  box-shadow: 6px 10px 1px black;
  letter-spacing: 4px;
}

@media only screen and (max-width: 480px) {
  /* landing page general */

  .landing__page--title {
    font-size: 1.5rem;
  }

  .landing__page--intro--text {
    font-size: 0.8rem;
    margin-top: 5rem;
  }

  /*sign up section*/
  .landing__page--signup--section h2 {
    font-family: "Press Start 2P", cursive;
    color: white;
    text-align: center;
    font-size: 1.2em;
    width: 40vw;
    line-height: 2em;
  }

  .sign__up--button {
    margin-top: 45px;
    background-color: rgba(121, 159, 217, 1);
  }
  /* login section */
  .landing__page--login--section h2 {
    font-size: 1em;
    margin-top: -7vh;
    margin-bottom: 5vh;
  }

  /* nav bar */

  .landing__page--nav--bar {
    width: 100%;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    left: -500px;
    font-size: 1rem;
  }

  .clicked {
    left: 0;
  }
}

@media only screen and (max-width: 382px) {
  .landing__page--title {
    font-size: 1.2rem;
  }

  .landing__page--button--icons {
    font-size: 2rem;
  }

  .landing__page--button--section {
    height: 30%;
  }

  .landing__page--button--icons {
    margin-bottom: -100px;
    gap: 4rem;
  }

  .landing__page--signup--section h2 {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .landing__page--login--section h2 {
    font-size: 0.8rem;
    margin-top: -7vh;
    margin-bottom: 5vh;
  }

  .landing__page--button {
    font-size: 1rem;
  }
}
