/*
font-family: 'ABeeZee', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: "Rubik Mono One", sans-serif;*/

/* general styling */

.card_editor--main-section {
  width: 100vw;
  overflow: hidden;
}

@keyframes arrow_animation {
}

/* title styling */

.card_editor--main-title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.card_editor--main-title-section h1 {
  font-size: 2rem;
}

.card_editor--main-title {
  background-image: url(https://unsplash.it/800);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: yellow;
  text-shadow: 0px 0px 8px yellow;
  font-family: "Rubik Mono One", sans-serif;
}

.card_editor--sub-title {
  margin-top: 2rem;
  font-family: "Rubik Mono One", sans-serif;

  font-size: 1.2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
}

.card_editor--main-title {
  font-size: 3rem;
}

.fa-arrow-right-from-bracket {
  position: absolute;
  color: white;
  font-size: 2.5rem;
  transform: rotate(180deg);
  margin-left: 2rem;
  margin-top: 2rem;
}

.logout__door {
  height: 10%;
  position: absolute;
  background-color: #3885ad;
  font-size: 10px;
  margin-left: 2rem;
  margin-top: -6rem;
  opacity: 0.6;
  transition: margin-top 1s ease-in-out, background-color 0.1s ease-in-out;
}

.logout__door:hover {
  cursor: pointer;
  background-color: red;
}

/* add folder section / add subfolder section */

.card_editor--add-indexcard {
  visibility: hidden;
}

.card_editor--add-folder {
  visibility: visible;
}

.clickable-adding-section {
  position: absolute;
  width: 14rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 80%;
  top: 10%;
}

.clickable_image {
  height: 80%;
  width: 80%;
  z-index: 9999;
  padding: 0;
  transition: opacity 0.1s ease-in;
}

.folder_image {
  opacity: 0.6;
}

.indexcard_image {
  margin-left: 1.3rem;
  height: 75% !important;
  width: 75% !important;
  opacity: 0.6;
}

.add-folder-plus-sign {
  position: absolute;
  background-color: transparent;
  font-size: 4rem;
  margin-top: 12px;
  margin-right: 18px;
  color: white;
  border: none;
  z-index: 10000;
  transform: skew(12deg);
  width: 2.4rem;
  text-shadow: 1px 1px 1px black;
  width: 50%;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  opacity: 0.6;
  cursor: pointer;
}

.add-folder-plus-sign:hover,
.add-folder-plus-sign:active {
  opacity: 1;
}

.add-indexcard-plus-sign:hover,
.add-indexcard-plus-sign:active {
  opacity: 1;
}

.add-indexcard-plus-sign {
  position: absolute;
  background-color: transparent;
  font-size: 4rem;
  margin-top: 3.1rem;
  margin-right: 18px;
  color: white;
  border: none;
  z-index: 10000;
  width: 2.4rem;
  text-shadow: 1px 1px 1px black;
  width: 50%;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  opacity: 0.6;
  cursor: pointer;
}

/* yellow blob styling */

.pointing_arrow {
  position: absolute;
  width: 80%;
  height: 85%;
  opacity: 0;
  animation: myAnim 3s ease 0s infinite normal backwards;
  transition: opacity 0.5s ease-in;
  background-color: yellow;
  border-radius: 80%;
  z-index: -1000;
  border: 1px yellow;
  border-style: dashed solid;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  27% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  53% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  85% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

/* folder section */

.card_editor--folder-section {
  position: relative;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.folder_section--wording-section {
  height: 75vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.folder_section--title {
  font-size: 1.5rem;
  height: 3rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  font-family: "Rubik Mono One", sans-serif;
  color: rgba(121, 159, 217, 1);
}
.folder_section--smiley {
  transform: rotate(90deg);
  margin-top: 2rem;
  font-size: 3rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* folder section added folders */

.folder_section--added-folders-container {
  position: absolute;
  z-index: 1000;
  visibility: hidden;
  min-height: 65%;
  max-height: 75%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 90vw;
  overflow: auto;
  margin-top: 28vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20rem;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* added folders */

.added_folder--div {
  display: flex;
}

.added_folder--div img {
  height: 8rem;
  width: 11rem;
  margin-top: 12vh;
}

.added_folder--paragraph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4vh;
  margin-left: 1vw;
  font-family: "Abel", sans-serif;
  color: black;
  font-size: 1rem;
  gap: 15px;

  width: 15rem;
}

.added_folder--paragraph-container p {
  padding: 0.6rem;
}

.added_folder--folder-name {
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom: 1px solid black;
}

#folder-tags,
.added_folder--tags {
  font-style: italic;
  color: blue;
}

.added_folder--tags:hover {
  text-decoration: underline;
  cursor: pointer;
}

.added_folder--buttons {
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.added_folder--buttons button {
  width: 5rem;
  border-radius: none;
  border: 1px solid black;
  transition: box-shadow 0.2s ease-in-out;
}

#access-button {
  background-color: rgba(121, 159, 217, 0.8);
}

#delete-button {
  background-color: rgba(255, 0, 0, 0.6);
}

#access-button:hover {
  background-color: rgba(121, 159, 217, 1);
}

#delete-button:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

.added_folder--buttons button:hover {
  box-shadow: 2px 4px 1px black;
  cursor: crosshair;
}

/* folder form*/
.folder_section--folder-form {
  position: absolute;
  display: flex;
  visibility: hidden;
  background: #e3e3e0;
  opacity: 0;
  width: 60vw;
  height: 80vh;
  z-index: 1001;
  border: 2px solid black;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  font-family: "Abel", sans-serif;
  gap: 10rem;
}

.cross {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 60vw;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  cursor: pointer;
  right: 0;
  top: 0;
  margin-top: 4vh;
  margin-right: 2vw;
}

.cross:before,
.cross:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: white;
}

.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

.cross:hover::before {
  background: red;
  opacity: 0.8;
}

.cross:hover::after {
  background: red;
  opacity: 0.8;
}

.add-folder-svg {
  position: fixed;
  opacity: 1;
  z-index: -1000000;
  height: 60%;

  width: 30%;
  top: 0;
  left: 0;
  margin-top: -17.92vh;
  margin-left: 19vw;
}

#add-folder-form {
  display: grid;
  gap: 2em;
  margin-left: -25rem;
  z-index: 1000;
}

#add-folder-form div {
  display: grid;
  gap: 1rem;
  z-index: 999;
}

#add-folder-form input {
  height: 3rem;
  width: 14rem;
}

.folder_image_form {
  position: absolute;
  height: 30%;
  margin-left: 30rem;
  width: 30%;
  background: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: alien_animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes alien_animation {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

#add-folder-form button {
  height: 2.5rem;
  width: 8rem;
  background-color: rgba(121, 159, 217);
  opacity: 0.8;
  border: none;
  font-weight: 800;
  color: white;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out, border 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
}

#add-folder-form button:hover {
  opacity: 1;
  box-shadow: 4px 8px 1px black;
  border: 4px solid black;
  cursor: crosshair;
}

#add-folder-form button:active {
  background-color: yellow;
  color: black;
  box-shadow: none;
}

.create-me-text {
  position: absolute;
  margin-left: 28rem;
  font-size: 2rem;
  color: white;
  animation-name: alien_animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#add-folder-form input {
  border: 1px solid black;
  border: none;
  padding-left: 10px;
  background-color: rgb(246, 251, 252);
}

.folder_section--bg-svg {
  position: absolute;
  opacity: 1;
  z-index: -1000000;
  height: 30%;
  width: 30%;
  margin-top: 20rem;
  opacity: 1;
}

.folder_section--bg-svg-indexcard {
  position: absolute;
  opacity: 1;
  z-index: -1000000;
  height: 30%;
  width: 30%;
  margin-top: 30rem;
  margin-left: 70rem;
}

/* creating subfolder form */

.index_cards_creating_subfolder_container {
  height: 30rem;
  width: 40rem;
  background-color: rgb(187, 209, 226);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index_cards_creating_subfolder_form {
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.index_cards_creating_subfolder_input_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Rubik Mono One", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
}

.index_cards_creating_subfolder_input_container {
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
